@media screen and (max-width: 576px)
  footer
    p
     font-size: 1.5rem
    & .author__license
      font-size: $size-14
      text-align: center
      padding-left: 0
      padding-right: 0
      padding-bottom: 3.5em
    & .author__copyright
        .container
          font-size: 12px
