@media screen and (max-width: 768px)
  footer
   .author-wrapper
    svg
      width: 30%
      padding: 20px 30px 0 0

  .author__license
    width: 60%
@media screen and (max-width: 576px)
  footer
    .author-wrapper
      flex-direction: column
      justify-content: space-between
      align-items: center
      svg
        width: 40%
        padding-top: 20%
    .author__license
      text-align: center
      padding-left: 0
      padding-right: 0
      padding-bottom: 3.5em
      width: 100%
      order: 2
    .author__copyright
        .container
          font-size: 12px

@media screen and (max-width: 375px)
  footer
    .author-wrapper
      svg
        width: 50%
        padding-right: 0

    .author__license
      padding-top: 3.5em
    p
      padding: 0 15px

@media screen and (max-width: 335px)
  footer
    .author-wrapper
      svg
        padding-top: 25%

    .author__license
      padding-top: 3em
    p
      padding: 0 15px

