@media screen and (max-width: 768px)
      .usage
        &-wrap
          flex-direction: column
          align-items: center
        & .usage-item
            width: 70%
            margin-bottom: 3rem

@media screen and (max-width: 576px)
  .usage
    .usage-item
      width: 90%
    .heading
      font-size: 2rem
      width: 95%

  .usage-wrap
    .usage-item:first-of-type
      .heading
        line-height: 1em



