.indication
  background: url(../img/img-block-bg-left.png) left center no-repeat,  url(../img/img-block-bg-right.png) right center no-repeat, linear-gradient(to right, #0a6dcd, #0d8dd9) center center no-repeat
  color: $c-white
  padding: 1em 0 6em 0
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start
    width: 50%
  &__content
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    h3
      width: 35%
      color: $c-white
      margin: 0.5em 0 0 2em
  &__list
    display: flex
    flex-wrap: wrap
    list-style-type: none
    width: 50%
    li
      font-size: 2.2rem
      padding: 0.3em 0
      width: 60%
      position: relative
      &:after
        content: ""
        position: absolute
        top: 50%
        left: -0.8em
        transform: translateY(-50%)
        width: 5px
        height: 5px
        border-radius: 50%
        background-color: $c-white
  .title
    color: $c-white
    margin-bottom: 1.5em


