.instruction
    margin-bottom: 6em
    .title
        padding-top: 5rem
    &-wrapper
        overflow: hidden
        padding-bottom: 3rem
        & .external-box
            display: flex
            align-items: center
            text-align: center
            & .left-part
                width: 50%
                img
                    width: 70%
                    height: auto
                    @extend %relative
            & .right-part
                width: 50%
                font-size: 1.4rem
                margin-left: 4em
                width: 41%
                text-align: left
                color: #839bb1
                span
                    font-size: 1.8rem
                    color: #33495e
                    display: inline-block
                    font-weight: 400
                    margin-bottom: 0.5em

    .heading
        font-size: 2rem
        font-weight: 600
        color: #33495e
        text-transform: uppercase
        margin-bottom: 0

    &__form
        margin-bottom: 2.5em
        p:last-child
            font-size: 2rem
            margin-top: 0.5em



    &__supplementary
        margin-top: 2em


