.storage
  padding-top: 2em
  text-align: center
  p
    font-size: 1.6rem
    color: #656f86
  h2
   opacity: 0

  svg
    margin: 8em 0 0
    width: 20%
  .btn
    display: inline-block
    font-size: 1.8rem
    text-transform: uppercase
    background: $c-light-blue
    color: $c-white
    width: 33rem
    border-radius: 0.5em
    padding: 1.23em 0
    position: relative
    overflow: hidden
    margin: 1em 2em
    @extend %relative
    transition: background 0.3s linear
    svg
      width: 30px
      margin: 0
      right: 1.5em
      position: absolute
      top: 50%
      transform: translate(0, -50%)

    &--drugstore
       background: #dce7f5
       color: $c-light-blue
       &:hover
          background: rgba(13, 141, 216, 0.70)
          color: #dce7f5

    &--instr
      padding-right: 35px
      &:hover
        background: rgba(13, 141, 216, 0.70)



.btn-box
  margin: 95px 0 160px 0




