$c-white: #fff
$c-light-blue: #0d8dd8


$f-regular: 'Roboto', sans-serif



// placeholders


%transition
  transition: 0.2s linear


%br10
  border-radius: 1em



// extends
%vam
  display: block
  position: absolute
  top: 50%
  transform: translateY(-50%)

%ham
  display: block
  position: absolute
  left: 50%
  transform: translateX(-50%)

%yTransform
  position: relative
  transform: translateX(100%)

%xTransform
  position: relative
  transform: translateX(150%)

%opacity
  opacity: 0

%relative
  position: relative

%bsh
  box-shadow: 0 3px 10px 3px rgba(222,231,237,.9)

